.main {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}


.main-child {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    background-color: skyblue;
    padding: 40px;
    border: 10px solid skyblue;
    border-radius: 10px;
    
}